<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despliegue de VM</title>
</head>
<body>
    <h1>Despliegue de Máquina Virtual</h1>
    <form action="/deploy" method="POST">
        <label for="vm_name">Nombre de la VM:</label>
        <input type="text" id="vm_name" name="vm_name" required><br><br>
        <label for="ram">RAM (MB):</label>
        <input type="text" id="ram" name="ram" value="2048"><br><br>
        <label for="cores">Núcleos:</label>
        <input type="text" id="cores" name="cores" value="2"><br><br>
        <label for="disk_size">Tamaño del disco (GB):</label>
        <input type="text" id="disk_size" name="disk_size" value="20"><br><br>
        <label for="network">Red:</label>
        <select id="network" name="network">
            {% for net in networks %}
                <option value="{{ net }}">{{ net }}</option>
            {% endfor %}
        </select><br><br>
        <button type="submit">Desplegar VM</button>
    </form>
</body>
</html>


