<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado del Despliegue</title>
</head>
<body>
    <h1>Resultado del Despliegue</h1>
    <p>La VM se ha desplegado exitosamente con los siguientes detalles:</p>
    <ul>
        <li>VM ID: {{ vm_id }}</li>
        <li>Nombre: {{ vm_name }}</li>
        <li>RAM: {{ ram }} MB</li>
        <li>Núcleos: {{ cores }}</li>
        <li>Disco: {{ disk_size }} GB</li>
        <li>Red: {{ network }}</li>
    </ul>
</body>
</html>

